In [1]:
import numpy as np
import pandas as pd

### 通过二维数组来创建DataFrame

In [2]:
df = pd.DataFrame(np.random.randn(25).reshape(5,5))
df

          0         1         2         3         4
0  0.694172  0.690223 -1.370903 -0.266544  1.886552
1  0.265832  3.106104 -1.359579  1.574290  0.515923
2  0.535526  0.938346 -0.733067 -0.617171 -1.853218
3 -1.271966 -0.673885  0.018215 -0.630021 -0.419117
4 -0.104457 -1.193925  2.554619 -1.231915 -0.662946

### 通过粘贴板创建dataframe

In [2]:
df1 = pd.read_clipboard()

In [3]:
df1

   排名            中文名       财富  年龄      财富来源   国家
0   1         杰夫·贝索斯  1284亿美元  54       亚马逊   美国
1   2          比尔·盖茨   915亿美元  62        微软   美国
2   3         沃伦·巴菲特   879亿美元  87   伯克希尔哈撒韦   美国
3   4     伯纳德·阿诺特及家族   764亿美元  69      路威酩轩   法国
4   5        马克·扎克伯格   735亿美元  33  facebook   美国
5   6  卡洛斯·斯利姆·埃卢及家族   695亿美元  78        电信  墨西哥
6   7       阿曼西奥·奥特加   660亿美元  81      Zara  西班牙
7   8         拉里·埃里森   632亿美元  73        软件   美国

In [6]:
type(df1)

pandas.core.frame.DataFrame

In [8]:
df1.columns              # 获取栏

Index(['排名', '中文名', '财富', '年龄', '财富来源', '国家'], dtype='object')

In [9]:
df1['中文名']    # 获取特定列

0           杰夫·贝索斯
1            比尔·盖茨
2           沃伦·巴菲特
3       伯纳德·阿诺特及家族
4          马克·扎克伯格
5    卡洛斯·斯利姆·埃卢及家族
6         阿曼西奥·奥特加
7           拉里·埃里森
Name: 中文名, dtype: object

In [12]:
type(df1['中文名'])

pandas.core.series.Series

In [23]:
df1_new = pd.DataFrame(df1, columns=['排名','中文名'])       # 过滤获取特定列  方法二见后文
df1_new

   排名            中文名
0   1         杰夫·贝索斯
1   2          比尔·盖茨
2   3         沃伦·巴菲特
3   4     伯纳德·阿诺特及家族
4   5        马克·扎克伯格
5   6  卡洛斯·斯利姆·埃卢及家族
6   7       阿曼西奥·奥特加
7   8         拉里·埃里森

In [24]:
df1_new['城市'] = None                 # 新增一列
df1_new

   排名            中文名    城市
0   1         杰夫·贝索斯  None
1   2          比尔·盖茨  None
2   3         沃伦·巴菲特  None
3   4     伯纳德·阿诺特及家族  None
4   5        马克·扎克伯格  None
5   6  卡洛斯·斯利姆·埃卢及家族  None
6   7       阿曼西奥·奥特加  None
7   8         拉里·埃里森  None

In [25]:
df1_new['乡镇'] = ['1','2','3','4','5','6','7','8']
df1_new

   排名            中文名    城市 乡镇
0   1         杰夫·贝索斯  None  1
1   2          比尔·盖茨  None  2
2   3         沃伦·巴菲特  None  3
3   4     伯纳德·阿诺特及家族  None  4
4   5        马克·扎克伯格  None  5
5   6  卡洛斯·斯利姆·埃卢及家族  None  6
6   7       阿曼西奥·奥特加  None  7
7   8         拉里·埃里森  None  8

In [38]:
df1_new['中文名'][0] = 'carry'    # 修改值

c:\users\pwala\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
df1_new

   排名            中文名    城市 乡镇
0   1          carry  None  1
1   2          比尔·盖茨  None  2
2   3         沃伦·巴菲特  None  3
3   4     伯纳德·阿诺特及家族  None  4
4   5        马克·扎克伯格  None  5
5   6  卡洛斯·斯利姆·埃卢及家族  None  6
6   7       阿曼西奥·奥特加  None  7
7   8         拉里·埃里森  None  8