In [1]:
import numpy as np
import pandas as pd

In [15]:
df1 = pd.DataFrame({'城市':['北京','上海','广州'] , '人口':[1500,1300,1100]}, index = ['a','b','c'])
df1

     人口  城市
a  1500  北京
b  1300  上海
c  1100  广州

In [16]:
df1['a'] = [1,2,3]   # 用列表新增一列
df1

     人口  城市  a
a  1500  北京  1
b  1300  上海  2
c  1100  广州  3

In [17]:
df1['GDP'] = pd.Series([100,90,80])     # 用series来新增一列,当index不一致时会出现问题
df1

     人口  城市  a  GDP
a  1500  北京  1  NaN
b  1300  上海  2  NaN
c  1100  广州  3  NaN

In [18]:
df1['GDP'] = pd.Series([100,90,80], index = ['a','b','c'])     # 用series来新增一列,当index不一致时会出现问题
df1

     人口  城市  a  GDP
a  1500  北京  1  100
b  1300  上海  2   90
c  1100  广州  3   80

### 通过mapping来增加一列

In [12]:
df1

     人口  城市
0  1500  北京
1  1300  上海
2  1100  广州

In [13]:
GDP_map = {'北京':1000 , '上海':800, "广州":700}

In [14]:
df1['GDP'] = df1['城市'].map(GDP_map)
df1

     人口  城市   GDP
0  1500  北京  1000
1  1300  上海   800
2  1100  广州   700

### replace

In [37]:
s1 = pd.Series(np.arange(5))
s1

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [38]:
s1 = s1.replace(to_replace=1,value=10)
s1

0     0
1    10
2     2
3     3
4     4
dtype: int32

In [39]:
s1[1] = 1
s1

0    0
1    1
2    2
3    3
4    4
dtype: int32