In [1]:
import numpy as np
import pandas as pd

### DataFrame

In [2]:
df = pd.DataFrame(data = np.arange(12).reshape(4,3))
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [3]:
df[:1]    #获取第一行

   0  1  2
0  0  1  2

In [4]:
df[1:2]    # 获取第二行

   0  1  2
1  3  4  5

In [9]:
df[0]        # 获取第一列，其类型为Series

0    0
1    3
2    6
3    9
Name: 0, dtype: int32

In [10]:
df[[0,1]]   # 获取0-1行

   0   1
0  0   1
1  3   4
2  6   7
3  9  10

### Series

In [11]:
s1 = pd.Series(np.arange(5))
s1

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [13]:
s1[0:2]

0    0
1    1
dtype: int32