In [4]:
import numpy as np 
import pandas as pd

### Series的reindex

In [5]:
s1 = pd.Series([1,2,3,4],index=['A','B','C','D'])
s1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
s1.reindex(index=['a','b','c','d','e'])       # 失效

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [9]:
pd.Series(s1.values,index=['a','b','c','d'])    # 创建一个新series

a    1
b    2
c    3
d    4
dtype: int64

In [23]:
s1.index = ['a','b','c','d']           # 直接设置index，但长度必须一致
s1

a    1
b    2
c    3
d    4
dtype: int64

### DataFrame里的reindex

In [15]:
df = pd.DataFrame(np.random.randint(10,size=(5,5)),index = ['a','b','c','d','e'], columns=['c1','c2','c3','c4','c5'])
df

   c1  c2  c3  c4  c5
a   9   5   0   9   1
b   8   2   9   5   2
c   6   4   8   3   6
d   8   5   2   1   5
e   7   9   0   6   9

In [16]:
df.reindex(index = ['A','B','C','D','E'], columns= ['c1','c2','c3','c3','c3'])

   c1  c2  c3  c3  c3
A NaN NaN NaN NaN NaN
B NaN NaN NaN NaN NaN
C NaN NaN NaN NaN NaN
D NaN NaN NaN NaN NaN
E NaN NaN NaN NaN NaN

In [18]:
df.index=['A','B','C','D','E']

In [24]:
df.columns =  ['c1','c2','c3','c3','c3']

In [26]:
df

   c1  c2  c3  c3  c3
A   9   5   0   9   1
B   8   2   9   5   2
C   6   4   8   3   6
D   8   5   2   1   5
E   7   9   0   6   9