In [1]:
import numpy as np
import pandas as pd

### 粘贴板的读写

In [2]:
df1 = pd.read_clipboard()   # 读
df1

   排名     中文名       财富  年龄     财富来源  国家
0   1  杰夫·贝索斯  1284亿美元  54      亚马逊  美国
1   2   比尔·盖茨   915亿美元  62       微软  美国
2   3  沃伦·巴菲特   879亿美元  87  伯克希尔哈撒韦  美国

In [4]:
df1.to_clipboard()   # 写

### csv文件的读写

In [8]:
df1.to_csv('df1.csv')

In [9]:
df2 = pd.read_csv('df1.csv')

In [10]:
df2

   Unnamed: 0  排名     中文名       财富  年龄     财富来源  国家
0           0   1  杰夫·贝索斯  1284亿美元  54      亚马逊  美国
1           1   2   比尔·盖茨   915亿美元  62       微软  美国
2           2   3  沃伦·巴菲特   879亿美元  87  伯克希尔哈撒韦  美国

### json文件的读写

In [11]:
df1.to_json('df1.json')

In [12]:
df3 = pd.read_json('df1.json')
df3

      中文名  国家  年龄  排名       财富     财富来源
0  杰夫·贝索斯  美国  54   1  1284亿美元      亚马逊
1   比尔·盖茨  美国  62   2   915亿美元       微软
2  沃伦·巴菲特  美国  87   3   879亿美元  伯克希尔哈撒韦

### html文件的读写

In [15]:
df1.to_html('df1.html', index=False)    # 取消index

In [16]:
df4 = pd.read_html('df1.html')
df4

[   ÅÅÃû        ÖÐÎÄÃû        ²Æ¸»  ÄêÁä        ²Æ¸»À´Ô´  ¹ú¼Ò
 0     1  ½Ü·ò¡¤±´Ë÷Ë¹  1284ÒÚÃÀÔª    54          ÑÇÂíÑ·  ÃÀ¹ú
 1     2    ±È¶û¡¤¸Ç´Ä   915ÒÚÃÀÔª    62            Î¢Èí  ÃÀ¹ú
 2     3  ÎÖÂ×¡¤°Í·ÆÌØ   879ÒÚÃÀÔª    87  ²®¿ËÏ£¶û¹þÈöÎ¤  ÃÀ¹ú]