In [1]:
import numpy as np
import pandas as pd

### series的多级index

In [2]:
s1 = pd.Series(np.random.randn(5))
s1

0    0.923757
1    1.028321
2    0.859430
3    0.011843
4    0.152803
dtype: float64

In [7]:
s2 = pd.Series(np.random.randn(5), index = [[1,1,1,2,2,],['a','b','c','a','b']])
s2

1  a   -0.983841
   b    0.887210
   c    1.132934
2  a    0.777900
   b    1.299950
dtype: float64

In [8]:
s2[1]    # 获取一级index依然是一个series

a   -0.983841
b    0.887210
c    1.132934
dtype: float64

In [9]:
s2[1]['a']   # 二级index才是value

-0.983840942458307

In [10]:
s2[1].values

array([-0.98384094,  0.88720964,  1.13293428])

### DataFrame的多级index

In [11]:
df = pd.DataFrame(np.random.randint(10,size = (3,3)))
df

   0  1  2
0  7  1  4
1  7  6  9
2  3  0  4

In [12]:
df1 = pd.DataFrame(np.random.randint(10,size = (3,3)), index=[[1,1,2],['a','b','a']])
df1

     0  1  2
1 a  6  5  4
  b  2  8  3
2 a  6  1  7

In [13]:
df2 = pd.DataFrame(np.random.randint(10,size = (3,3)), columns = [[1,1,2],['a','b','a']])
df2

   1     2
   a  b  a
0  5  3  6
1  6  2  3
2  8  0  3