In [1]:
import numpy as np
import pandas as pd

In [6]:
df1 = pd.DataFrame({'key':['A','B','Z'],'data_set_1':[1,2,3]})
df1

   data_set_1 key
0           1   A
1           2   B
2           3   Z

In [7]:
df2 = pd.DataFrame({'key':['A','B','C'], 'data_set_2':[4,5,6]})
df2

   data_set_2 key
0           4   A
1           5   B
2           6   C

In [8]:
pd.merge(left=df1,right=df2)       # 必须要有相同名字的column

   data_set_1 key  data_set_2
0           1   A           4
1           2   B           5

In [9]:
pd.merge(df1,df2, how='left')  #左连接(默认为内连接)

   data_set_1 key  data_set_2
0           1   A         4.0
1           2   B         5.0
2           3   Z         NaN

In [10]:
pd.merge(df1, df2, how='right')   # 右连接

   data_set_1 key  data_set_2
0         1.0   A           4
1         2.0   B           5
2         NaN   C           6

In [11]:
pd.merge(df1,df2, how='outer')   # 外连接

   data_set_1 key  data_set_2
0         1.0   A         4.0
1         2.0   B         5.0
2         3.0   Z         NaN
3         NaN   C         6.0