In [1]:
import numpy as np
import pandas as pd

### series 的排序

In [4]:
s1 = pd.Series(np.random.randint(low=10, size = 5))
s1

0    8
1    2
2    5
3    2
4    6
dtype: int32

In [6]:
s1.sort_values()         # 根据value排序

1    2
3    2
2    5
4    6
0    8
dtype: int32

In [8]:
s1.sort_values(ascending=False)   # 降序

0    8
4    6
2    5
3    2
1    2
dtype: int32

In [7]:
s1.sort_index()        # 根据index排序

0    8
1    2
2    5
3    2
4    6
dtype: int32

### DataFrame的排序

In [11]:
df = pd.DataFrame(data=np.random.randint(low = 10, size=(8,5)), columns = ['a','b','c','d','e'])
df

   a  b  c  d  e
0  2  9  8  6  4
1  6  6  1  8  0
2  1  4  2  1  8
3  9  4  9  7  2
4  2  2  0  0  7
5  2  6  0  5  4
6  6  5  5  2  8
7  9  4  5  7  7

In [15]:
df.sort_index(ascending=False)       # 根据index排序

   a  b  c  d  e
7  9  4  5  7  7
6  6  5  5  2  8
5  2  6  0  5  4
4  2  2  0  0  7
3  9  4  9  7  2
2  1  4  2  1  8
1  6  6  1  8  0
0  2  9  8  6  4

In [14]:
df.sort_values('a')       # 根据column——a来排序

   a  b  c  d  e
2  1  4  2  1  8
0  2  9  8  6  4
4  2  2  0  0  7
5  2  6  0  5  4
1  6  6  1  8  0
6  6  5  5  2  8
3  9  4  9  7  2
7  9  4  5  7  7