In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_clipboard()

In [3]:
df

    A    B
0  bj  100
1  bj   99
2  bj  101
3  sh   80
4  sh   79
5  gz   60