In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_clipboard()
df

   排名     中文名       财富  年龄     财富来源  国家
0   1  杰夫·贝索斯  1284亿美元  54      亚马逊  美国
1   2   比尔·盖茨   915亿美元  62       微软  美国
2   3  沃伦·巴菲特   879亿美元  87  伯克希尔哈撒韦  美国

In [ ]:
df.apply()   # 类似于python里的map，传一个函数，然后对所有的元素执行该函数

In [5]:
df.drop_duplicates('国家')   # 删除重复的

   排名     中文名       财富  年龄 财富来源  国家
0   1  杰夫·贝索斯  1284亿美元  54  亚马逊  美国