In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.randint(low=10, size=(3,3)), index=['北京','上海','广州'], columns = ['a','b','c'])
df

    a  b  c
北京  3  1  8
上海  6  8  1
广州  2  4  0

In [6]:
type(df.index)

pandas.core.indexes.base.Index

In [12]:
df.index = ['bj','sh','gz']    # 直接赋值
df

    a  b  c
bj  3  1  8
sh  6  8  1
gz  2  4  0

In [15]:
df = df.rename(index={'bj':1,'sh':2,'gz':3}, columns= {'a':1,'b':2,'c':3})   # 通过rename
df

   1  2  3
1  3  1  8
2  6  8  1
3  2  4  0